<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&amp;display=swap" rel="stylesheet">

    <title>Aura Beauty Lounge</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/agendamentos.css}">
    <link rel="stylesheet" th:href="@{/css/modal-agendamentos.css}">
</head>
<body>
<aside class="sidebar">
    <div class="logo">
        <img th:src="@{/assets/logo.svg}" alt="Aura Beauty Lounge"/>
    </div>
    <nav>
        <ul>
            <li>
                <a th:href="@{/dashboard}"><img th:src="@{/assets/icons/home.svg}" alt=""/> Dashboard</a>
            </li>
            <li>
                <a th:href="@{/agendamentos}" class="active"
                ><img th:src="@{/assets/icons/calendar.svg}" alt=""/> Agendamentos</a
                >
            </li>

            <li>
                <a th:href="@{/servicos}"
                ><img th:src="@{/assets/icons/services.svg}" alt=""/> Serviços</a
                >
            </li>
            <li>
                <a th:href="@{/relatorios}"
                ><img th:src="@{/assets/icons/analytics.svg}" alt=""/> Relatórios</a
                >
            </li>
        </ul>
    </nav>
</aside>

<header class="main-header">
    <div class="page-title">
        <h1>Agendamentos</h1>
    </div>

    <div class="user-menu">
        <div class="profile">
            <img
                    src="../static/assets/icons/profile.svg"
                    th:src="@{/assets/icons/profile.svg}"
                    alt="Avatar"
                    class="avatar"
            />
            <span id="saudacao-header"></span>
            <img
                    src="../static/assets/icons/arrow-down.svg"
                    th:src="@{/assets/icons/arrow-down.svg}"
                    alt="Expandir"
                    class="chevron"
            />
        </div>

        <div class="logout-dropdown" id="logoutDropdown">
            <a th:href="@{/usuarios}" id="btnsingup" class="dropdown-item signup">
                <img th:src="@{/assets/icons/person_add.svg}" alt="">
                Criar usuário
            </a>
            <a href="#" id="btnLogout" class="dropdown-item logout">
                <img th:src="@{/assets/icons/logout.svg}" alt="">
                Sair
            </a>
        </div>
    </div>
</header>
<main class="content">
    <section class="appointments-section card">
        <div class="section-header">
            <h2 id="saudacao-banner"></h2>
            <button class="btn-new-appointment">
                <img th:src="@{/assets/icons/add.svg}" alt=""/> Novo Agendamento
            </button>
        </div>

        <h3 class="subtitulo-agenda">Liste seus agendamentos: </h3>

        <div id="container-cards" class="cards-dashboard">
            <div class="card-periodo" onclick="filtrarAgendamentos('hoje')">
                <img th:src="@{/assets/icons/today.svg}"/>

                <h3>Hoje</h3>
            </div>
            <div class="card-periodo" onclick="filtrarAgendamentos('semana')">
                <img th:src="@{/assets/icons/date_range.svg}"/>
                <h3>Semana</h3>
            </div>
            <div class="card-periodo" onclick="filtrarAgendamentos('mes')">
                <img th:src="@{/assets/icons/calendar_month.svg}"/>
                <h3>Mês</h3>
            </div>
        </div>

        <div id="container-tabela" style="display: none;">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; ">
                <h2 id="titulo-listagem">Agendamentos</h2>
                <button onclick="voltarParaCards()" class="btn-voltar">⬅ Voltar aos Filtros</button>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Dia e Horário</th>
                    <th>Cliente</th>
                    <th>Serviço</th>
                    <th>Profissional</th>
                    <th>Duração</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody id="table-agendamentos">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="status "></span></td>
                    <td>
                        <button class="btn-edit">
                            <img th:src="@{/assets/icons/edit.svg}" alt=""/>
                        </button>
                        <button class="btn-delete">
                            <img th:src="@{/assets/icons/block.svg}" alt=""/>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </section>
</main>

<!-- Modal -->

<div id="modal-agendamento" class="modal-overlay">
    <div class="modal-content">
        <header class="modal-header">
            <h2>Novo Agendamento</h2>
            <button class="close-modal" id="btn-fechar">
                <img th:src="@{/assets/icons/close.svg}" alt="botao para fechar modal"/>
            </button>
        </header>

        <form id="form-agendamento">
            <div class="modal-grid">
                <div class="modal-col">
                    <div class="input-group">
                        <label><span class="step-number">1</span> Cliente</label>
                        <input type="text" id="modal-cliente" placeholder="Nome do cliente" required/>
                    </div>
                    <div class="input-group">
                        <label><span class="step-number">2</span> Serviço</label>
                        <select id="modal-servico" required>
                            <option value="">Selecione o serviço</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label><span class="step-number">3</span> Profissional</label>
                        <input type="text" id="modal-profissional" placeholder="Nome do colaborador" required/>
                    </div>
                </div>

                <div class="modal-col">
                    <div class="input-group">
                        <label><span class="step-number">4</span> Data e Hora</label>
                        <input type="date" id="modal-data" required/>
                    </div>
                    <div>
                        <label> Horários disponíveis</label>
                        <ul id="modal-horarios">
                            <li class="hora-opcao">08:00</li>
                            <li class="hora-opcao">09:00</li>
                            <li class="hora-opcao">10:00</li>
                            <li class="hora-opcao">11:00</li>
                            <li class="hora-opcao">12:00</li>
                            <li class="hora-opcao">13:00</li>
                            <li class="hora-opcao">14:00</li>
                            <li class="hora-opcao">15:00</li>
                            <li class="hora-opcao">16:00</li>
                            <li class="hora-opcao">17:00</li>
                            <li class="hora-opcao">18:00</li>
                            <li class="hora-opcao">19:00</li>
                            <li class="hora-opcao">20:00</li>
                            <li class="hora-opcao">21:00</li>
                        </ul>
                    </div>
                </div>

                <div class="modal-col summary-col">
                    <div class="summary-box">
                        <p><span>Cliente:</span> <span id="resumo-cliente">-</span></p>
                        <p><span>Serviço:</span> <span id="resumo-servico">-</span></p>
                        <p><span>Profissional:</span> <span id="resumo-profissional">-</span></p>
                        <p><span>Data e Hora:</span> <span id="resumo-data-hora">-</span></p>

                        <div class="total-row">
                            <span>Total</span>
                            <span id="resumo-total">R$ 0,00</span>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="modal-footer">
                <button type="button" class="btn-cancel" id="btn-cancelar">
                    Cancelar
                </button>
                <button type="submit" class="btn-confirm">
                    Confirmar Agendamento
                </button>
            </footer>
        </form>
    </div>
</div>

<div id="modal-confirmacao" class="modal-confirm" style="display: none;">
    <div class="modal-confirm-content">
        <h3>Confirmação</h3>
        <p id="modal-confirmacao-texto">Tem certeza que deseja excluir este serviço?</p>
        <div class="modal-confirm-botoes">
            <button id="btn-confirmar-nao" class="btn-secundario">Não</button>
            <button id="btn-confirmar-sim" class="btn-perigo">Sim, Excluir</button>
        </div>
    </div>
</div>

<script th:src="@{/js/agendamentos.js}"></script>
<script th:src="@{/js/menu-drop-down.js}"></script>
<script th:src="@{/js/modalConfirm.js}"></script>
<script th:src="@{/js/modal-agendamento.js}"></script>
<script th:src="@{/js/notifications.js}"></script>
</body>
</html>
