<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aura Login</title>
    <link rel="icon" type="image/svg+xml" th:href="@{/assets/icons/favicon.svg}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="background"></div>

<div class="card">
    <div class="logo-container">
        <img th:src="@{/assets/logo.svg}" alt="Aura Beauty Lounge Logo" class="logo-img">
    </div>

    <hr>
    <form id="loginForm">
        <h2>Bem-vindo!</h2>
        <p class="desc">Faça login para gerenciar os seus agendamentos.</p>

        <label for="username">E-mail </label>
        <input type="text" id="username" placeholder="seu.email@exemplo.com" required>

        <label for="password">Senha</label>
        <div class="password-container">
            <input type="password" id="password" placeholder="Digite sua senha" required>
            <img th:src="@{/assets/icons/visibility_off.svg}" class="toggle-password" id="btn-senha"
                 alt="Mostrar senha">
        </div>
        <div class="row">

            <a href="#">Esqueceu a senha?</a>
        </div>

        <button type="submit" class="login" id="loginBtn">Entrar</button>


        <hr>
    </form>
</div>

<script th:src="@{/js/login.js}"></script>

<script th:src="@{/js/notifications.js}"></script>
</body>
</html>